<div class="container">
    <div class="jumbotron">
      <h1>Am I Snowed in Pal?</h1>      
      <p>A cynical and simplistic weather guide</p>
    </div>
    <a class="btn btn-primary" href="/snowed_in" role="button">Am I Snowed In Pal?</a>
    <a class="btn btn-success" href="/heavy_wind" role="button">Is It Blowin' A Gale Pal?</a>   
</div>